.header {
  position: relative;
  background-image: url('../images/football_1920.jpg');
  background-color: #0a0e34;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
}
