@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0 0;
}

html {
  font-family: 'Open-Sans';
  font-size: 100%;
}

h1, h2, h3, p, img {
  margin: 0 0;
  padding: 0 0;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: normal;;
}

@media (max-width: 640px) {
  .logo-container {
    width: 41.5625vw;
    height: 11.25vw;
    margin-top: 10.31vw;
    
  }
  
  .header {
    background-image: url('../images/football_767.jpg');
    
    padding-left: 6.25vw;
    padding-right: 6.25vw;    
  }
  
  .slogan {
    #font-size: 1.75rem;
    font-size: 8.75vw;
    line-height: 9.6875vw;
    letter-spacing: 0.3125vw;
    
    margin-top: 42.03125vw;
    margin-bottom: 27.5vw;
  }
  
  .slogan-span:nth-child(even) {
    margin-left: 13.75vw;
    padding-top: 8.125vw;
  }
  
  .apps-container {
    margin-bottom: 25.94vw;
    margin-top: 0;
    
    width: 100%;
  }
  
  .app {
    width: 100%;
    border-radius: 4.375vw / 50%;    
  }
  
  .app:nth-child(n+2) {
  margin-top: 3.75%;
  }
  
  .app-link {
    font-size: 2.5vw;
    padding-top: 2.32%;
    padding-bottom: 2.32%;  
    padding-left: 30%;
    letter-spacing: 0;
  }
  
  .icon {
    width: 11.35%;
    height: 100%;
    margin-right: 5%;    
  }
  
  .article-header {
    #font-size: 3.125rem;
    font-size: 15.625vw;

    padding-left: 6.25%;
    margin-top: 4.6875vw;
    margin-bottom: 73.4375vw;
  }
  
  .image-box-footballer {
    background-image: url('../images/footballer_192.png');
    left: 21.9%;
    top: 7.5%;

    width: 59.375%;
    height: 87.8125vw;
  }
  
  .image-box-basketballer {
    background-image: url('../images/basketballer_302.png');
    left: 2.5vw;
    top: 25vw;

    z-index: 2;

    width: 94.375vw;
    height: 77.5vw;
}
  
  .chapter {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }
  
  .chapter>h3 {
    font-size: 7.1875vw;
    line-height: 7.1875vw;
    margin-top: 25.9375vw;
    letter-spacing: 0.3125vw;
  }
  
  .first-chapter {
    background-color: #fafafa;
  }
  
  .first-chapter::before {
    display: inline-block;
    content: "01";
    #font-size: 0.875rem;
    font-size: 4.375vw;
    font-weight: bold;
    border-bottom: 0.625vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 6vw;

    margin-top: 25.9375vw;
    margin-right: 2.8125vw;
  }
  
  .second-chapter::before {
    display: inline-block;
    content: "02";
    #font-size: 0.875rem;
    font-size: 4.375vw;
    font-weight: bold;
    border-bottom: 0.625vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 6vw;

    margin-top: 25.9375vw;
    margin-right: 2.8125vw;
  }
  
  .third-chapter::before {
    display: inline-block;
    content: "03";
    #font-size: 0.875rem;
    font-size: 4.375vw;
    font-weight: bold;
    border-bottom: 0.625vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 6vw;

    margin-top: 25.9375vw;
    margin-right: 2.8125vw;
  }  
  
  .chapter>p {
    #font-size: 0.9375rem;
    font-size: 4.6875vw;
    lin_seeight: 5.625vw;
    letter-spacing: 0.3125vw;
    font-weight: normal;

    padding-top: 9.29%;
    padding-bottom: 18.57%;
  }
  
  .aside_section_image {
    #background-image: url('../images/');
  }
  
  .purple_square {
    display: flex;
    position: absolute;
    top: 91.5625vw;
    left: 6.25vw;
    background-color: #5e42b0;
    width: 21.875vw;
    height: 21.875vw;
    #line-height: 21.875vw;
  }
  
  .box-one::after {
    position: absolute;
    content: "01";
    left: 38.571%;
    top: 32%;
    border-box: box-sizing;
    color: #f5f6f7;
    font-size: 4.375vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 1.25vw solid #ffffff;
  }
  
  .box-two::after {
    position: absolute;
    content: "02";
    left: 38.571%;
    top: 32%;
    border-box: box-sizing;
    color: #f5f6f7;
    font-size: 4.375vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 1.25vw solid #ffffff;
  }

.box-three::after {
    position: absolute;
    content: "03";
    left: 38.571%;
    top: 32%;
    box-sizing: border-box;
    color: #f5f6f7;
    font-size: 4.375vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 1.25vw solid #ffffff;
  }
  
  .section-info {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }
  
  .aside_section_image {
    width: 100vw;
  }
  
  .section-header {
    font-size: 8.75vw;
    color: #e7e7e7;
    font-weight: bold;
    letter-spacing: 0.3125vw;
    line-height: 10.625vw;
    text-transform: uppercase;

    padding-top: 10.3125vw;
    padding-bottom: 7.1875vw;
  }
  
  .section-info>p {
    font-size: 5vw;
    letter-spacing: 0.3125vw;
    #line-height: 6.25vw;

    padding-bottom: 24.0625vw;
  }
  
  .logo-footer-container-top {
    box-sizing: border-box;
    width: 22.5vw;
    height: 23.125vw;
    background-color: #5e42b0;
    border: 1px solid #5e42b0;
    border-radius: 20%;

    z-index: 2;
    margin-top: 30.9375vw;

    padding-top: 3.125vw;
    padding-left: 1.875vw;
    padding-right: 1.875vw;
  }
  
  .footer-slogan {
    width: 100%;

    margin-top: 15.3125vw;
    margin-bottom: 23.4375vw;

    z-index: 2;
  }
  
}

@media (min-width: 641px) and (max-width: 960px) {
  .logo-container {
    width: 26.6927vw;
    height: 7.2917vw;
    margin-top: 5.0781vw;
    
    z-index: 2;
  }
  
  .header {
    background-image: url('../images/football_1280.jpg');
    
    padding-left: 4.1667vw;
    padding-right: 4.1667vw;
  }
  
  .slogan {
    #font-size: 4rem;
    font-size: 8.3333vw;
    line-height: 12.3698vw;
    letter-spacing: 0.390625vw;
    
    width: 100%;
    
    margin-top: 21.5495vw;
    /*margin-bottom: 38.6068vw;    */
    margin-bottom: 30.2735vw;
  }
  
  .slogan-span:nth-child(odd) {
    margin-left: 7.6823vw;
  }
  
  .slogan-span:nth-child(even) {
    margin-left: 21.6146vw;
    /*padding-top: 4.2%;*/
  }
  
  .apps-container {
    margin-bottom: 11.849vw;
    margin-top: 0;
    
    width: 84.8958vw;;
    
    justify-content: space-between;
  }
  
  .app {
    width: 47.6994%;
    border-radius: 12% / 50%;    
  }
  
  .app-link {
    font-size: 1.8229vw;
    line-height: 2.474vw;
    padding-top: 3.06vw;
    padding-bottom: 2.9297vw;
    padding-left: 5.3385vw;
  }
  
  .icon {
    width: 16.13%;
    height: 100%;
    margin-right: 3.776vw;    
  }
  
  .article-main {
#    padding-left: 33.854vw;
#    padding-right: 4.297vw;
  }
  
  .article-header {
    #font-size: 3.125rem;
    font-size: 10.417vw;
    line-height: 10.417vw;

    padding-top: 11.07vw;
    margin-bottom: 2.6042vw;
    
  }
  
  .article-main:nth-child(1)>h2 {
    padding-left: 37.89vw;
    padding-right: 4.297vw; 
  }
  
  .article-main:nth-child(2)>h2 {
    padding-left: 4.297vw;
    padding-right: 37.89vw;
  }
  
  .image-box-footballer {
    background-image: url('../images/footballer_497.png');
    left: -21.09vw;
    top: 12.24vw;

    width: 64.71vw;
    height: 91.02vw;
  }
  
  .image-box-basketballer {
    background-image: url('../images/basketballer_436.png');
    right: 0;
    top: 5.078vw;

    z-index: 2;

    width: 56.64vw;
    height: 73.4375vw;
  }
  
  .article-main:nth-child(1)>.chapter {
    padding-left: 37.89vw;
    padding-right: 4.297vw;
  }
  
  .article-main:nth-child(2)>.chapter {
    padding-left: 4.297vw;
    padding-right: 37.89vw;    
  }
  
  .chapter>h3 {
    font-size: 4.1667vw;
    line-height: 4.1667vw;
    letter-spacing: 0.26vw;
    margin-top: 5.339vw;
  }
  
  .first-chapter {
    background-color: #ffffff;
  }
  
  .first-chapter::before {
    display: inline-block;
    content: "01";
    #font-size: 0.875rem;
    font-size: 2.3344vw;
    font-weight: bold;
    border-bottom: 0.26vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 3.5vw;

    margin-top: 5.339vw;
    margin-right: 2.8125vw;
  }
  
  .second-chapter::before {
    display: inline-block;
    content: "02";
    #font-size: 0.875rem;
    font-size: 2.3344vw;
    font-weight: bold;
    border-bottom: 0.26vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 3.5vw;

    margin-top: 5.339vw;
    margin-right: 2.8125vw;
  }
  
  .third-chapter::before {
    display: inline-block;
    content: "03";
    #font-size: 0.875rem;
    font-size: 2.3344vw;
    font-weight: bold;
    color: #000000;
    border-bottom: 0.26vw solid #ffffff;
    border-radius: 10%;
    vertical-align: top;
    line-height: 3.5vw;

    margin-top: 5.339vw;
    margin-right: 2.8125vw;
  }  
  
  .chapter>p {
    #font-size: 0.9375rem;
    font-size: 2.0833vw;
    #line-height: 5.625vw;
    #letter-spacing: 0.1302vw;
    font-weight: normal;

    padding-top: 4.167vw;
    padding-bottom: 4.688vw;;
  }
  
  .purple_square {
    display: flex;
    position: absolute;
    top: 65.7552vw;
    left: 4.297vw;
    background-color: #5e42b0;
    width: 15.104vw;
    height: 15.104vw;
    #line-height: 21.875vw;
  }
  
  .box-one::after {
    position: absolute;
    content: "01";
    left: 37.931%;
    top: 32%;
    border-box: box-sizing;
    color: #f5f6f7;
    font-size: 3.125vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.651vw solid #ffffff;
  }
  
  .box-two::after {
    position: absolute;
    content: "02";
    left: 37.931%;
    top: 32%;
    border-box: box-sizing;
    color: #f5f6f7;
    font-size: 3.125vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.651vw solid #ffffff;
  }
  
  .box-three::after {
    position: absolute;
    content: "03";
    left: 37.931%;
    top: 32%;
    border-box: box-sizing;
    color: #f5f6f7;
    font-size: 3.125vw;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.651vw solid #ffffff;
  }
  
.aside_section_image {
  display: block;
  
  width: 100vw;
  #height: 109.6875vw;
}  
  
  .section-info {
    padding-left: 4.1667vw;
    padding-right: 7.5521vw;
  }
  
  .section-header {
    font-size: 10.4167vw;
    color: #c1c1c1;
    font-weight: bold;
    /*letter-spacing: 0.3125vw;*/
    line-height: 10.4167vw;
    text-transform: uppercase;

    padding-top: 11.719vw;
    padding-bottom: 5.0781vw;
  }
  
  .section-info>p {
    font-size: 3.125vw;
    letter-spacing: 0.13021vw;
    #line-height: 6.25vw;

    padding-bottom: 12.6302vw;
  }
  
  .logo-footer-container-top {
    box-sizing: border-box;
    width: 16.9271vw;
    height: 17.8385vw;
    background-color: #5e42b0;
    border: 1px solid #5e42b0;
    border-radius: 20%;

    z-index: 2;
    margin-top: 16.40625vw;

    padding-top: 3.2552vw;
    padding-left: 1.6927vw;
    padding-right: 1.6927vw;
    padding-bottom: 3.2552vw;
  }
  
  .logo-footer-top {
    width: 13.4115vw;
    height: 11.0677vw;
  }
  
  .footer-slogan {
    width: 100%;

    margin-top: 10.6771vw;
    margin-bottom: 37.24vw;

    z-index: 2;
  }
}

@media (min-width: 961px) {
  .logo-container {
    width: 9.948vw;
    height: 2.708vw;
    margin-top: 2.344vw;
    
    z-index: 2;
  }
  
  .header {
    background-image: url('../images/football_1920.jpg');
    
    /*padding-left: 10vw;
    padding-right: 10vw;*/
  }  
  
  .slogan {
    width: 100%;
    
    font-size: 4.6875vw;
    line-height: 4.6875vw;
    
    margin-top: 15.3646vw;
    margin-bottom: 11.5625vw; 
    
    letter-spacing: 0.2604vw;
    
  }
  
  .slogan-span:nth-child(odd) {
    margin-left: 10vw;
  }
  
  .slogan-span:nth-child(even) {
    margin-left: 33.5417vw;
  }
  
  .apps-container {
    margin-bottom: 5.7292vw;
    margin-top: 0;
    
    width: 100%;
    
    justify-content: center;
  }
  
  .app {
    width: 16.09375vw;
    border-radius: 12% / 50%;    
  }
  
  .app:first-child {
    margin-right: 1.3021vw;
  }
  
  .app:last-child {
    margin-left: 1.3021vw;
  }
  
  .app-link {
    font-size: 0.7292vw;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    padding-left: 1.9792vw;
  }
  
  .icon {
    width: 16.17%;
    height: 125%;
    margin-right: 9.68%;    
  }
  
  .purple_square {
    display: flex;
    position: absolute;
    top: 91.5625vw;
    left: 6.25vw;
    background-color: #5e42b0;
    width: 21.875vw;
    height: 21.875vw;
    #line-height: 21.875vw;
  }
  
  .article-header {
    font-size: 4.1667vw;
    line-height: 4.1667vw;

    padding-top: 5.9896vw;
    margin-bottom: 2.65625vw;
    
  }
  
  .article-main:nth-child(1)>h2 {
    padding-left: 52.5vw;
    /*padding-right: 4.297vw; */
  }
  
  .article-main:nth-child(2)>h2 {
    padding-left: 10vw;
    /*padding-right: 37.89vw;*/
  }
  
  .image-box-footballer {
    background-image: url('../images/footballer_566.png');
    left: 20.4167vw;
    top: 1.40625vw;

    width: 29.4792vw;
    height: 47.2917vw;
  }
  
  .image-box-basketballer {
    background-image: url('../images/basketballer_991.png');
    left: 41.875vw;
    top: 1.1979vw;

    z-index: 2;

    width: 51.6146vw;
    height: 42.4479vw;
  }  
  
  .article-main:nth-child(1)>.chapter {
    padding-left: 52.5vw;
    padding-right: 10.2604vw;
  }
  
  .article-main:nth-child(2)>.chapter {
    padding-left: 10vw;
    padding-right: 50.7292vw;    
  }
  
  .chapter>h3 {
    font-size: 1.875vw;
    line-height: 1.875vw;
    letter-spacing: 0.1042vw;
    margin-top: 3.125vw;
  }
  
  .first-chapter {
    background-color: #ffffff;
  }
  
  .first-chapter::before {
    display: inline-block;
    content: "01";
    #font-size: 0.875rem;
    font-size: 0.9375vw;
    font-weight: bold;
    border-bottom: 0.26vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 1.4vw;

    margin-top: 3.125vw;
    margin-right: 0.6771vw;
  }  
  
  .second-chapter::before {
    display: inline-block;
    content: "02";
    #font-size: 0.875rem;
    font-size: 0.9375vw;
    font-weight: bold;
    border-bottom: 0.26vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 1.4vw;

    margin-top: 3.125vw;
    margin-right: 0.6771vw;
  }
  
  .third-chapter::before {
    display: inline-block;
    content: "03";
    #font-size: 0.875rem;
    font-size: 0.9375vw;
    font-weight: bold;
    border-bottom: 0.26vw solid #5e42b0;
    border-radius: 10%;
    vertical-align: top;
    line-height: 1.4vw;

    margin-top: 3.125vw;
    margin-right: 0.6771vw;
  }    
  
  .chapter>p {
    #font-size: 0.9375rem;
    font-size: 1.0417vw;
    #line-height: 5.625vw;
    #letter-spacing: 0.1302vw;
    font-weight: normal;

    padding-top: 1.5104vw;
    padding-bottom: 2.8125vw;;
  }
  
  .aside_section {
    display: flex;
    
    width: 100vw;
  }
  
  .aside_section_image {
    display: block;

    width: 50vw;
    #height: 109.6875vw;
  }
  
  .aside_section:nth-of-type(2)>.aside_section_image {
    order: 2;
  }  
  
  .section-info {
    width: 50vw;
    padding-left: 6.6667vw;
    padding-right: 9.5833vw;    
  }
  
  .section-header {
    font-size: 4.1667vw;
    color: #c1c1c1;
    font-weight: bold;
    /*letter-spacing: 0.3125vw;*/
    line-height: 4.1667vw;
    text-transform: uppercase;

    padding-top: 13.5417vw;
    padding-bottom: 6.0417vw;
  }
  
  .section-info>p {
    font-size: 1.25vw;
    letter-spacing: 0.0521vw;
    #line-height: 6.25vw;

    /*padding-bottom: 12.5vw;*/
  }
  
  .footer {
    position: relative;
    background-image: url('../images/game_1280.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    min-height: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }
  
  .footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
  
  .logo-footer-container-top {
    position: absolute;
    box-sizing: border-box;
    width: 6.7708vw;
    height: 7.1354vw;
    background-color: #5e42b0;
    border: 1px solid #5e42b0;
    border-radius: 20%;

    z-index: 2;

    top: 11.9271vw;
    left: 27.3958vw;
  }
  
  .footer-slogan {
    width: 100%;

    margin-top: 13.0208vw;
    margin-bottom: 37.24vw;

    z-index: 2;
  }  
  
  
}







.header {
  position: relative;
  #background-image: url('../images/football_1920.jpg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  
  #max-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  box-sizing: border-box;
  #padding-left: 6.25%;
  #padding-right: 6.25%
}

.header::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.logo-container {
  #width: 47.5%;
  #height: 12.86%;
  #margin-top: 11.8%;
  
  z-index: 2;
}

.header-logo {
  fill: #ffffff;
}

.slogan {
  text-transform: uppercase;
  font-family: 'Open-Sans';
  font-weight: bold;
  color: #ffffff;
  #font-size: 1.75rem;
  
  position: relative;
  z-index: 2;
  
  #margin-top: 48.5%;
  #margin-bottom: 31%;
}

.slogan-span {
  display: block;
}

.slogan-span:nth-child(even) {
  #margin-left: 14%;
  #padding-top: 10%;
}

.apps-container {
  position: relative;
  z-index: 2;
  
  #margin-bottom: 30%;
  #margin-top: 0;
  
  list-style: none;
  padding-left: 0;
  #width: 100%;
  
  display: flex;
  flex-wrap: wrap;
}

.app {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  #width: 100%;
  background-color: #5e42b0;
  border: 1px solid #5e42b0;
  #border-radius: 5% / 50%;
}

.app-link {
  display: flex;
  #box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  
  text-transform: uppercase;
  color: #ffffff;
  
  font-family: 'Open-Sans';
  font-weight: normal;
  #font-size: 0.5rem;
  text-decoration: none;
  
  #padding-top: 3.2%;
  #padding-bottom: 3.2%;
  #padding-left: 30%;
}

.icon {
  fill: #ffffff;
  #width: 9%;
  #height: 100%;
  
  #margin-right: 5%;
}

.store {
  display: block;
  width: 100%;
  font-family: 'Open-Sans';
  font-weight: bold;
  #font-size: 0.5rem;
}

.article-main {
  position: relative;
}

.article-header {
  display: inline-block;
  #font-size: 3.125rem;
  #font-size: 15.625vw;
  color: #e7e7e7;
  font-weight: bold;
  text-transform: uppercase;
  
  #padding-left: 6.25%;
  #margin-top: 4.6875vw;
  #margin-bottom: 73.4375vw;
}

.image-box-footballer {
  #background-image: url('../images/footballer_192.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
#  left: 21.9%;
#  top: 7.5%;
  
  z-index: 3;
  
#  width: 59.375%;
#  height: 87.8125vw;
}

.image-box-basketballer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
  position: absolute;
  #left: 2.5%;
  #top: 9%;
  
  z-index: 2;
  
  #width: 94.375%;
  
}

.chapter {
  #padding-left: 6.25%;
  #padding-right: 6.25%;
}

.chapter>h3 {
  display: inline-block;
  #font-size: 1.4375rem;
  #font-size: 7.1875vw;
  #letter-spacing: 0.3125vw;
  #line-height: 2.125rem;
  #line-height: 7.1875vw;
  color: #c1c1c1;
  text-transform: uppercase;
  font-weight: bold;
  
  #margin-top: 25.9375vw;
}

#.chapter>p {
#  #font-size: 0.9375rem;
#  font-size: 4.6875vw;
#  line-height: 5.625vw;
#  letter-spacing: 0.3125vw;
#  font-weight: normal;
  
#  padding-top: 9.29%;
#  padding-bottom: 18.57%;
}

#.first-chapter {
#  background-color: #fafafa;
#}

#.first-chapter::before {
#  display: inline-block;
#  content: "01";
  #font-size: 0.875rem;
  #font-size: 2.3344vw;
  #font-weight: bold;
  #border-bottom: 0.625vw solid #5e42b0;
  #border-radius: 10%;
  #vertical-align: top;
  #line-height: 6vw;
  #margin-top: 25.9375vw;
  #margin-right: 2.8125vw;
  }

.second-chapter {
  background-color: #f5f4f9;
}

#.second-chapter::before {
#  display: inline-block;
#  content: "02";
  #font-size: 0.875rem;
#  font-size: 4.375vw;
#  font-weight: bold;
#  border-bottom: 0.625vw solid #5e42b0;
#  border-radius: 10%;
#  vertical-align: top;
#  line-height: 6vw;
  
#  margin-top: 25.9375vw;
#  margin-right: 2.8125vw;
}

.third-chapter {
  background-color: #5e42b0;
  
  color: #ffffff;
}

#.third-chapter::before {
#  display: inline-block;
#  content: "03";
  #font-size: 0.875rem;
#  font-size: 4.375vw;
#  font-weight: bold;
#  color: #000000;
#  border-bottom: 0.625vw solid #ffffff;
#  border-radius: 10%;
#  vertical-align: top;
#  line-height: 6vw;
  
#  margin-top: 25.9375vw;
#  margin-right: 2.8125vw;
}

.aside_section {
  position: relative;
}

#.purple_square {
#  display: flex;
#  position: absolute;
#  top: 91.5625vw;
#  left: 6.25vw;
#  background-color: #5e42b0;
#  width: 21.875vw;
#  height: 21.875vw;
#  #line-height: 21.875vw;
#}

#.box-one::after {
#  position: absolute;
#  content: "01";
#  left: 38.571%;
#  top: 32%;
#  border-box: box-sizing;
#  color: #f5f6f7;
#  font-size: 4.375vw;
#  font-weight: bold;
#  text-align: center;
#  border-bottom: 1.25vw solid #ffffff;
#}

/*.box-two::after {
  position: absolute;
  content: "02";
  left: 38.571%;
  top: 32%;
  border-box: box-sizing;
  color: #f5f6f7;
  font-size: 4.375vw;
  font-weight: bold;
  text-align: center;
  border-bottom: 1.25vw solid #ffffff;
}*/

/*.box-three::after {
  position: absolute;
  content: "03";
  left: 38.571%;
  top: 32%;
  box-sizing: border-box;
  color: #f5f6f7;
  font-size: 4.375vw;
  font-weight: bold;
  text-align: center;
  border-bottom: 1.25vw solid #ffffff;
}*/

/*.aside_section_image {
  display: block;
  
  width: 100vw;
  #height: 109.6875vw;
}*/

/*.section-info {
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.section-header {
  font-size: 8.75vw;
  color: #e7e7e7;
  font-weight: bold;
  letter-spacing: 0.3125vw;
  line-height: 10.625vw;
  text-transform: uppercase;
  
  padding-top: 10.3125vw;
  padding-bottom: 7.1875vw;
}

.section-info>p {
  font-size: 5vw;
  letter-spacing: 0.3125vw;
  #line-height: 6.25vw;
  
  padding-bottom: 24.0625vw;
}*/

/*
.footer {
  position: relative;
  background-image: url('../images/game_767.jpg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  
  max-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  box-sizing: border-box;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}
*/

/*.logo-footer-container-top {
  box-sizing: border-box;
  width: 22.5vw;
  height: 23.125vw;
  background-color: #5e42b0;
  border: 1px solid #5e42b0;
  border-radius: 20%;
  
  z-index: 2;
  margin-top: 30.9375vw;
  
  padding-top: 3.125vw;
  padding-left: 1.875vw;
  padding-right: 1.875vw;
}*/

.logo-footer-top {
  fill: #ffffff;
}

/*.footer-slogan {
  width: 100%;
  
  margin-top: 15.3125vw;
  margin-bottom: 23.4375vw;
  
  z-index: 2;
}*/

.download-app {
  font-size: 10vw;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  line-height: 10vw;
  
  text-align: center;
}

.footer-slogan>p {
  margin-top: 4.0625vw;
  
  font-size: 4.375vw;
  color: #9b8ec1;
  font-weight: normal;
  letter-spacing: 0.3125vw;
  line-height: 4.375vw;
  text-align: center;
  text-transform: uppercase;
  
}

  .logo-footer-container-bottom {
    width: 41.5625vw;
    height: 11.25vw;
    margin-bottom: 3.125vw;
    
    z-index: 2;
  }
