@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 640px) {
  .logo-container {
    width: 47.5%;
    height: 12.86%;
    margin-top: 11.8%;
    
  }
  
  .header {
    background-image: url('../images/football_767.jpg');
    
    padding-left: 6.25%;
    padding-right: 6.25%    
  }
  
  .slogan {
    font-size: 1.75rem;
    
    margin-top: 48.5%;
    margin-bottom: 31%;
  }
  
  .slogan-span:nth-child(even) {
    margin-left: 14%;
    padding-top: 10%;
  }
  
  .apps-container {
    margin-bottom: 30%;
    margin-top: 0;
    
    width: 100%;
  }
  
  .app {
    width: 100%;
    border-radius: 5% / 50%;    
  }
  
  .app:nth-child(n+2) {
  margin-top: 3.75%;
  }
  
  .app-link {
    font-size: 0.5rem;
    padding-top: 3.2%;
    padding-bottom: 3.2%;  
    padding-left: 30%;
  }
  
  .icon {
    width: 9%;
    height: 100;
    margin-right: 5%;    
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .logo-container {
    width: 29.1%;
    height: 7.95%;
    margin-top: 5.53%;
    
    z-index: 2;
  }
  
  .header {
    background-image: url('../images/football_1280.jpg');
    
    padding-left: 4.17%;
    padding-right: 4.17%;
  }
  
  .slogan {
    font-size: 4rem;
    
    margin-top: 25.5%;
    margin-bottom: 44%;    
  }
  
  .slogan-span:nth-child(odd) {
    margin-left: 11.5%;
  }
  
  .slogan-span:nth-child(even) {
    margin-left: 26.8%;
    padding-top: 4.2%;
  }
  
  .apps-container {
    margin-bottom: 13%;
    margin-top: 0;
    
    width: 92.87%;
    
    justify-content: space-between;
  }
  
  .app {
    width: 47.5%;
    border-radius: 12% / 50%;    
  }
  
  .app-link {
    font-size: 0.875rem;
    padding-top: 6.28%;
    padding-bottom: 6.28%;
    padding-left: 18.1%;
  }
  
  .icon {
    width: 16.13%;
    height: 100%;
    margin-right: 9.85%;    
  }
}

@media (min-width: 961px) {
  .logo-container {
    width: 12.43%;
    height: 3.39%;
    margin-top: 2.93%;
    
    z-index: 2;
  }
  
  .header {
    background-image: url('../images/football_1920.jpg');
    
    padding-left: 10%;
    padding-right: 10%;
  }  
  
  .slogan {
    width: 100%;
    
    font-size: 5.625rem;
    
    margin-top: 19%;
    margin-bottom: 14.3%;    
  }
  
  .slogan-span:nth-child(even) {
    margin-left: 27%;
  }
  
  .apps-container {
    margin-bottom: 7.16%;
    margin-top: 0;
    
    width: 100%;
    
    justify-content: center;
  }
  
  .app {
    width: 20.25%;
    border-radius: 12% / 50%;    
  }
  
  .app:first-child {
    margin-right: 1.63%;
  }
  
  .app:last-child {
    margin-left: 1.63%;
  }
  
  .app-link {
    font-size: 0.875rem;
    padding-top: 5.8%;
    padding-bottom: 5.8%;
    padding-left: 12.2%;
  }
  
  .icon {
    width: 16.17%;
    height: 125%;
    margin-right: 7.7%;    
  }
}

body {
  margin: 0 0;
}

html {
  font-size: 100%;
}

.h1 {
  all: none;
}

.header {
  position: relative;
  #background-image: url('../images/football_1920.jpg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  box-sizing: border-box;
  #padding-left: 6.25%;
  #padding-right: 6.25%
}

.header::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}

.logo-container {
  #width: 47.5%;
  #height: 12.86%;
  #margin-top: 11.8%;
  
  z-index: 2;
}

.header-logo {
  fill: #ffffff;
}

.slogan {
  text-transform: uppercase;
  font-family: 'Open-Sans';
  font-weight: bold;
  color: #ffffff;
  #font-size: 1.75rem;
  
  position: relative;
  z-index: 2;
  
  #margin-top: 48.5%;
  #margin-bottom: 31%;
}

.slogan-span {
  display: block;
}

.slogan-span:nth-child(even) {
  #margin-left: 14%;
  #padding-top: 10%;
}

.apps-container {
  position: relative;
  z-index: 2;
  
  #margin-bottom: 30%;
  #margin-top: 0;
  
  list-style: none;
  padding-left: 0;
  #width: 100%;
  
  display: flex;
  flex-wrap: wrap;
}

.app {
  display: flex;
  justify-content: center;
  #width: 100%;
  background-color: #5e42b0;
  border: 1px solid #5e42b0;
  #border-radius: 5% / 50%;
}

.app-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  
  text-transform: uppercase;
  color: #ffffff;
  
  font-family: 'Open-Sans';
  font-weight: normal;
  #font-size: 0.5rem;
  text-decoration: none;
  
  #padding-top: 3.2%;
  #padding-bottom: 3.2%;
  #padding-left: 30%;
}

.icon {
  fill: #ffffff;
  #width: 9%;
  #height: 100%;
  
  #margin-right: 5%;
}

.store {
  display: block;
  width: 100%;
  font-family: 'Open-Sans';
  font-weight: bold;
  #font-size: 0.5rem;
}
